<a href="https://colab.research.google.com/github/FayezAltawafshih/Data-Analyst-with-Python/blob/main/Cleansing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import pandas as pd

In [3]:
import pandas as pd

In [4]:
# import csv

In [5]:
df = pd.read_csv('/content/sample_data/Cleaning Data.csv')

In [6]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,Saud Shakeel (PAK),2022-2024,11*,20,3,1108,208*,65.17,2371,46.73,3,6,-,121,1
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
63,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
64,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
65,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
66,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [7]:
# Rename multible columns in a list

In [8]:
df = df.rename(columns={'Mat':'Matches','No':'Not_Outs','HS':'Highest_Inns_Score','BF':'Balls_Faced','SR':'Batting_Strike_Rate',})

In [9]:
df.head()

,Player,Span,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,Saud Shakeel (PAK),2022-2024,11*,20,3,1108,208*,65.17,2371,46.73,3,6,-,121,1
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [10]:
# Check Null - Values

In [11]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
NO                     False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced             True
Batting_Strike_Rate     True
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [12]:
df[df['Balls_Faced'].isna()==1]

,Player,Span,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
10,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258,2
18,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107,11

In [13]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [14]:

df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].fillna(0)

In [15]:
df[df['Player']=='ED Weekes (WI)']

,Player,Span,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
10,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.0,15,19,6,258,2

In [16]:
# drob duplicates

In [17]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
62    False
63    False
64    False
65    False
66    False
Length: 67, dtype: bool

In [18]:
df[df['Player'].duplicated()==1]

,Player,Span,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
13,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
17,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
55,V Kohli (IND),2011-2024,113,191,11,8848,254*,49.15,15924,55.56,29,30,14,991,26

In [20]:
df = df.drop_duplicates()

In [21]:
df

,Player,Span,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,Saud Shakeel (PAK),2022-2024,11*,20,3,1108,208*,65.17,2371,46.73,3,6,-,121,1
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
63,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
64,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
65,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
66,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [22]:
# split up span into start and End Date

In [36]:
df['Span'].str.split('-')

0     [1928, 1948]
1     [2022, 2024]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
62    [1965, 1981]
63    [2002, 2014]
64    [1924, 1934]
65    [1930, 1938]
66    [1928, 1934]
Name: Span, Length: 63, dtype: object

In [37]:
df['Span'].str.split('-',expand=True)

       0     1
0   1928  1948
1   2022  2024
2   2015  2016
3   1963  1970
4   1930  1954
..   ...   ...
62  1965  1981
63  2002  2014
64  1924  1934
65  1930  1938
66  1928  1934

[63 rows x 2 columns]

In [38]:
df['Span'].str.split('-',expand=True)[0]

0     1928
1     2022
2     2015
3     1963
4     1930
      ...
62    1965
63    2002
64    1924
65    1930
66    1928
Name: 0, Length: 63, dtype: object

In [39]:
df['Rookie_Year'] = df['Span'].str.split('-',expand=True)[0]

In [40]:
df['Final_Year'] = df['Span'].str.split('-',expand=True)[1]

In [41]:
df

,Player,Span,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,Saud Shakeel (PAK),2022-2024,11*,20,3,1108,208*,65.17,2371,46.73,3,6,-,121,1,2022,2024
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
63,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
64,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
65,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
66,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [42]:
# drop span columns

In [43]:
df.drop(['Span'],axis=1,inplace=True)

In [44]:
df

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,Saud Shakeel (PAK),11*,20,3,1108,208*,65.17,2371,46.73,3,6,-,121,1,2022,2024
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
63,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
64,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
65,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
66,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [45]:
df.head()

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,Saud Shakeel (PAK),11*,20,3,1108,208*,65.17,2371,46.73,3,6,-,121,1,2022,2024
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954

In [46]:
# Split up the Country from the player

In [47]:
df['Player'].str.split('(',expand=True)

                0        1
0     DG Bradman      AUS)
1   Saud Shakeel      PAK)
2       AC Voges      AUS)
3     RG Pollock       SA)
4     GA Headley       WI)
..            ...      ...
62    KD Walters      AUS)
63      GC Smith   ICC/SA)
64   WH Ponsford      AUS)
65     SJ McCabe      AUS)
66    DR Jardine      ENG)

[63 rows x 2 columns]

In [48]:
df['Country'] = df['Player'].str.split('(',expand=True)[1]

In [49]:
df['Country'] = df['Country'].str.replace(')','')

In [50]:
df['Country']

0        AUS
1        PAK
2        AUS
3         SA
4         WI
       ...
62       AUS
63    ICC/SA
64       AUS
65       AUS
66       ENG
Name: Country, Length: 63, dtype: object

In [51]:
df['Player']

0       DG Bradman (AUS)
1     Saud Shakeel (PAK)
2         AC Voges (AUS)
3        RG Pollock (SA)
4        GA Headley (WI)
             ...
62      KD Walters (AUS)
63     GC Smith (ICC/SA)
64     WH Ponsford (AUS)
65       SJ McCabe (AUS)
66      DR Jardine (ENG)
Name: Player, Length: 63, dtype: object

In [52]:
df['Player'] = df['Player'].str.split('(',expand=True)[0]

In [53]:
df.head()

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS
1,Saud Shakeel,11*,20,3,1108,208*,65.17,2371,46.73,3,6,-,121,1,2022,2024,PAK
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI

In [54]:
# Change Datatypes

In [56]:
df.dtypes

Player                  object
Matches                 object
Inns                     int64
NO                       int64
Runs                     int64
Highest_Inns_Score      object
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                       int64
6s                       int64
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [58]:
df['Highest_Inns_Score'].str.split(pat='*').str[0]

0     334
1     208
2     269
3     274
4     270
     ...
62    250
63    277
64    266
65    232
66    127
Name: Highest_Inns_Score, Length: 63, dtype: object

In [59]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].str.split(pat='*').str[0]

In [60]:
df['Highest_Inns_Score']

0     334
1     208
2     269
3     274
4     270
     ...
62    250
63    277
64    266
65    232
66    127
Name: Highest_Inns_Score, Length: 63, dtype: object

In [61]:
df['Highest_Inns_Score'].astype('int')

0     334
1     208
2     269
3     274
4     270
     ...
62    250
63    277
64    266
65    232
66    127
Name: Highest_Inns_Score, Length: 63, dtype: int64

In [64]:
df.dtypes

Player                  object
Matches                 object
Inns                     int64
NO                       int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                       int64
6s                       int64
Rookie_Year             object
Final_Year              object
Country                 object
dtype: object

In [65]:
# SEE IF YOU CAN FIX Rookie Year and Final Year

In [66]:
df = df.astype({'Rookie_Year':'int','Final_Year':'int'})

In [68]:
df.astype({'Rookie_Year':'int','Final_Year':'int'})

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS
1,Saud Shakeel,11*,20,3,1108,208,65.17,2371,46.73,3,6,-,121,1,2022,2024,PAK
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,KD Walters,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981,AUS
63,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
64,WH Ponsford,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934,AUS
65,SJ McCabe,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938,AUS
66,DR Jardine,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934,ENG

In [69]:
df.dtypes

Player                  object
Matches                 object
Inns                     int64
NO                       int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                       int64
6s                       int64
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [70]:
df.head()

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS
1,Saud Shakeel,11*,20,3,1108,208,65.17,2371,46.73,3,6,-,121,1,2022,2024,PAK
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI

In [72]:
df['Matches'] = df['Matches'].str.split(pat='*').str[0]

In [73]:
df['Matches'] = df['Matches'].astype('int')

In [74]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
NO                       int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                       int64
6s                       int64
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [75]:
df['Balls_Faced'] = df['Balls_Faced'].str.split(pat='+').str[0]

In [76]:
df[df['Balls_Faced'].isna()==1]

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
10,ED Weekes,48,81,5,4455,207,58.61,NaN,0.0,15,19,6,258,2,1948,1958,WI
18,CL Walcott,44,74,7,3798,220,56.68,NaN,0.0,15,14,1,107,11,1948,1960,WI

In [77]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [78]:
pd.set_option('display.max_rows',None)
df

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,Saud Shakeel,11,20,3,1108,208,65.17,2371,46.73,3,6,-,121,1,2022,2024,PAK
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG
9,HC Brook,16,26,1,1466,186,58.64,1661,88.26,5,9,1,171,25,2022,2024,ENG
10,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI
11,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI
14,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
15,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS
16,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG
18,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI
19,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG
20,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
21,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG
22,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ
23,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI
24,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
25,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
26,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA
27,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND
28,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
29,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK
30,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
31,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
32,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
33,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
34,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS
35,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
36,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
37,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
38,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND
39,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
40,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS
41,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
43,JE Root,144,263,22,12131,254,50.33,21392,56.70,32,64,12,1312,44,2012,2024,ENG
44,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ
45,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI
46,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG
47,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
48,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
49,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS
50,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI
51,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG
52,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
53,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
54,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND
56,MJ Clarke,115,198,22,8643,329,49.10,15456,55.92,28,27,9,978,39,2004,2015,AUS
57,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA
58,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA
59,Hon.FS Jackson,20,33,4,1415,144,48.79,-,0.00,5,6,3,51,0,1893,1905,ENG
60,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
61,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS
62,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
63,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
64,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
65,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
66,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [79]:
df = df.drop(56,axis=0)

In [80]:
df

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,Saud Shakeel,11,20,3,1108,208,65.17,2371,46.73,3,6,-,121,1,2022,2024,PAK
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG
9,HC Brook,16,26,1,1466,186,58.64,1661,88.26,5,9,1,171,25,2022,2024,ENG
10,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI
11,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI
14,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL
15,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS
16,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG
18,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI
19,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG
20,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA
21,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG
22,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ
23,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI
24,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND
25,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS
26,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA
27,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND
28,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI
29,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK
30,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND
31,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK
32,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK
33,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS
34,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS
35,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM
36,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS
37,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI
38,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND
39,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS
40,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS
41,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS
43,JE Root,144,263,22,12131,254,50.33,21392,56.70,32,64,12,1312,44,2012,2024,ENG
44,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ
45,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI
46,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG
47,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL
48,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK
49,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS
50,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI
51,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG
52,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND
53,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK
54,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND
57,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA
58,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA
59,Hon.FS Jackson,20,33,4,1415,144,48.79,-,0.00,5,6,3,51,0,1893,1905,ENG
60,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL
61,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS
62,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
63,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
64,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
65,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
66,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [81]:
df.isnull().any()

Player                 False
Matches                False
Inns                   False
NO                     False
Runs                   False
Highest_Inns_Score     False
Ave                    False
Balls_Faced            False
Batting_Strike_Rate    False
100                    False
50                     False
0                      False
4s                     False
6s                     False
Rookie_Year            False
Final_Year             False
Country                False
dtype: bool

In [82]:
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
NO                       int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                       int64
6s                       int64
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [87]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)
df['Balls_Faced'] = df['Balls_Faced'].astype('int')
df.dtypes

Player                  object
Matches                  int64
Inns                     int64
NO                       int64
Runs                     int64
Highest_Inns_Score       int64
Ave                    float64
Balls_Faced              int64
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                       object
4s                       int64
6s                       int64
Rookie_Year              int64
Final_Year               int64
Country                 object
dtype: object

In [88]:
df['career_length'] = df['Final_Year'] - df['Rookie_Year']
df

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,Saud Shakeel,11,20,3,1108,208,65.17,2371,46.73,3,6,-,121,1,2022,2024,PAK,2
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG,11
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG,8
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG,13
9,HC Brook,16,26,1,1466,186,58.64,1661,88.26,5,9,1,171,25,2022,2024,ENG,2
10,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI,10
11,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG,20
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI,20
14,KC Sangakkara,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51,2000,2015,SL,15
15,SPD Smith,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54,2010,2024,AUS,14
16,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG,22
18,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI,12
19,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG,18
20,JH Kallis,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97,1995,2013,ICC/SA,18
21,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG,8
22,KS Williamson,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24,2010,2024,NZ,14
23,CA Davis,15,29,5,1301,183,54.20,665,35.48,4,4,1,65,1,1968,1973,WI,5
24,VG Kambli,17,21,1,1084,227,54.20,1823,59.46,4,3,3,124,6,1993,1995,IND,2
25,GS Chappell,87,151,19,7110,247,53.86,13079,51.53,24,31,12,755,16,1970,1984,AUS,14
26,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA,16
27,SR Tendulkar,200,329,33,15921,248,53.78,29437,54.04,51,68,14,2058,69,1989,2013,IND,24
28,BC Lara,131,232,6,11953,400,52.88,19753,60.51,34,48,17,1559,88,1990,2006,ICC/WI,16
29,Javed Miandad,124,189,21,8832,280,52.57,15164,45.99,23,43,6,788,48,1976,1993,PAK,17
30,R Dravid,164,286,32,13288,270,52.31,31258,42.51,36,63,8,1654,21,1996,2012,ICC/IND,16
31,Mohammad Yousuf,90,156,12,7530,223,52.29,14372,52.39,24,33,11,957,51,1998,2010,PAK,12
32,Younis Khan,118,213,19,10099,313,52.05,19375,52.12,34,33,19,1082,70,2000,2017,PAK,17
33,RT Ponting,168,287,29,13378,257,51.85,22782,58.72,41,62,17,1509,73,1995,2012,AUS,17
34,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS,9
35,A Flower,63,112,19,4794,232,51.54,10636,45.07,12,27,5,543,20,1992,2002,ZIM,10
36,MEK Hussey,79,137,16,6235,195,51.52,12436,50.13,19,29,12,685,39,2005,2013,AUS,8
37,S Chanderpaul,164,280,49,11867,203,51.37,27395,43.31,30,66,15,1285,36,1994,2015,WI,21
38,SM Gavaskar,125,214,16,10122,236,51.12,14184,43.35,34,45,12,908,26,1971,1987,IND,16
39,SR Waugh,168,260,46,10927,200,51.06,22461,48.64,32,50,22,1175,20,1985,2004,AUS,19
40,ML Hayden,103,184,14,8625,380,50.73,14349,60.10,30,29,14,1049,82,1994,2009,AUS,15
41,AB de Villiers,114,191,18,8765,278,50.66,16077,54.51,22,46,8,1024,64,2004,2018,SA,14
42,AR Border,156,265,44,11174,205,50.56,27002,41.09,27,63,11,1161,28,1978,1994,AUS,16
43,JE Root,144,263,22,12131,254,50.33,21392,56.70,32,64,12,1312,44,2012,2024,ENG,12
44,DJ Mitchell,23,37,5,1608,190,50.25,3014,53.35,5,10,1,158,29,2019,2024,NZ,5
45,IVA Richards,121,182,12,8540,291,50.23,9613,69.77,24,45,10,952,84,1974,1991,WI,17
46,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG,20
47,DPMD Jayawardene,149,252,15,11814,374,49.84,22959,51.45,34,50,15,1387,61,1997,2014,SL,17
48,Inzamam-ul-Haq,120,200,22,8830,329,49.60,16345,54.02,25,46,15,1105,48,1992,2007,ICC/PAK,15
49,M Labuschagne,50,90,7,4114,215,49.56,7809,52.68,11,20,4,463,12,2018,2024,AUS,6
50,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI,15
51,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG,17
52,V Sehwag,104,180,6,8586,319,49.34,10441,82.23,23,32,16,1233,91,2001,2013,ICC/IND,12
53,Abid Ali,16,26,2,1180,215,49.16,2445,48.26,4,3,2,148,5,2019,2021,PAK,2
54,V Kohli,113,191,11,8848,254,49.15,15924,55.56,29,30,14,991,26,2011,2024,IND,13
57,KC Bland,21,39,5,1669,144,49.08,885,37.74,3,9,2,123,20,1961,1966,SA,5
58,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA,20
59,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,ENG,12
60,TT Samaraweera,81,132,20,5462,231,48.76,11641,46.92,14,30,11,633,7,2001,2013,SL,12
61,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS,15
62,KD Walters,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,16
63,GC Smith,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
64,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
65,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
66,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

In [89]:
df['career_length'].mean()

13.064516129032258

In [90]:
df[df['career_length']>10]['Batting_Strike_Rate']

0     58.60
4     56.00
6     34.59
8     42.42
11    38.07
12    53.58
14    54.19
15    53.50
16    46.22
18     0.00
19    39.34
20    45.97
22    51.41
25    51.53
26    63.88
27    54.04
28    60.51
29    45.99
30    42.51
31    52.39
32    52.12
33    58.72
37    43.31
38    43.35
39    48.64
40    60.10
41    54.51
42    41.09
43    56.70
45    69.77
46    38.81
47    51.45
48    54.02
50    40.16
51    30.04
52    82.23
54    55.56
58    29.11
59     0.00
60    46.92
61    43.74
62    49.16
63    59.67
Name: Batting_Strike_Rate, dtype: float64

In [91]:
df[df['career_length']>10]['Batting_Strike_Rate'].mean()

47.76558139534884

In [94]:
df[df['Rookie_Year']<1960].count()

Player                 23
Matches                23
Inns                   23
NO                     23
Runs                   23
Highest_Inns_Score     23
Ave                    23
Balls_Faced            23
Batting_Strike_Rate    23
100                    23
50                     23
0                      23
4s                     23
6s                     23
Rookie_Year            23
Final_Year             23
Country                23
career_length          23
dtype: int64

In [95]:
df[df['Rookie_Year']<1960]

,Player,Matches,Inns,NO,Runs,Highest_Inns_Score,Ave,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Rookie_Year,Final_Year,Country,career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
6,H Sutcliffe,54,84,9,4555,194,60.73,6558,34.59,16,23,2,202,6,1924,1935,ENG,11
7,E Paynter,20,31,5,1540,243,59.23,1288,45.88,4,7,3,125,4,1931,1939,ENG,8
8,KF Barrington,82,131,15,6806,256,58.67,4957,42.42,20,35,5,591,27,1955,1968,ENG,13
10,ED Weekes,48,81,5,4455,207,58.61,0,0.00,15,19,6,258,2,1948,1958,WI,10
11,WR Hammond,85,140,16,7249,336,58.45,7491,38.07,22,24,4,419,27,1927,1947,ENG,20
12,GS Sobers,93,160,21,8032,365,57.78,4063,53.58,26,30,12,593,32,1954,1974,WI,20
16,JB Hobbs,61,102,7,5410,211,56.94,5363,46.22,15,28,4,276,8,1908,1930,ENG,22
18,CL Walcott,44,74,7,3798,220,56.68,0,0.00,15,14,1,107,11,1948,1960,WI,12
19,L Hutton,79,138,15,6971,364,56.67,2844,39.34,19,33,5,358,7,1937,1955,ENG,18
21,GE Tyldesley,14,20,2,990,122,55.00,178,29.21,3,6,2,37,2,1921,1929,ENG,8
26,AD Nourse,34,62,7,2960,231,53.81,108,63.88,9,14,3,115,6,1935,1951,SA,16
34,J Ryder,20,32,5,1394,201,51.62,2035,44.86,3,9,1,102,3,1920,1929,AUS,9
46,DCS Compton,78,131,15,5807,278,50.06,2731,38.81,17,28,10,342,3,1937,1957,ENG,20
50,FMM Worrell,51,87,9,3860,261,49.48,488,40.16,9,22,11,240,11,1948,1963,WI,15
51,CP Mead,17,26,2,1185,182,49.37,619,30.04,4,3,3,38,0,1911,1928,ENG,17
58,B Mitchell,42,80,9,3471,189,48.88,158,29.11,8,21,3,41,1,1929,1949,SA,20
59,Hon.FS Jackson,20,33,4,1415,144,48.79,0,0.00,5,6,3,51,0,1893,1905,ENG,12
61,RN Harvey,79,137,10,6149,205,48.41,1799,43.74,21,24,7,427,1,1948,1963,AUS,15
64,WH Ponsford,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
65,SJ McCabe,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
66,DR Jardine,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

In [96]:
df.groupby('Country')['Highest_Inns_Score'].mean()

Country
AUS        246.333333
ENG        222.846154
ICC/IND    294.500000
ICC/PAK    329.000000
ICC/SA     250.500000
ICC/WI     400.000000
IND        241.250000
NZ         220.500000
PAK        247.800000
SA         223.200000
SL         308.000000
WI         250.000000
ZIM        232.000000
Name: Highest_Inns_Score, dtype: float64

In [97]:
df.groupby('Country')['Highest_Inns_Score'].max()

Country
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        254
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: Highest_Inns_Score, dtype: int64

In [98]:
df.groupby('Country')['Highest_Inns_Score'].mean().to_frame('Highinncountry').reset_index().sort_values('Highinncountry')

    Country  Highinncountry
7        NZ      220.500000
1       ENG      222.846154
9        SA      223.200000
12      ZIM      232.000000
6       IND      241.250000
0       AUS      246.333333
8       PAK      247.800000
11       WI      250.000000
4    ICC/SA      250.500000
2   ICC/IND      294.500000
10       SL      308.000000
3   ICC/PAK      329.000000
5    ICC/WI      400.000000

In [99]:
df.groupby('Country')['Highest_Inns_Score'].mean().to_frame('Highinncountry').reset_index().sort_values('Highinncountry',ascending=False)

    Country  Highinncountry
5    ICC/WI      400.000000
3   ICC/PAK      329.000000
10       SL      308.000000
2   ICC/IND      294.500000
4    ICC/SA      250.500000
11       WI      250.000000
8       PAK      247.800000
0       AUS      246.333333
6       IND      241.250000
12      ZIM      232.000000
9        SA      223.200000
1       ENG      222.846154
7        NZ      220.500000